

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        /* min-width: 481px; */
        max-width: 760px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    
}